@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
 @import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

body {
    background-color: #EEEBFF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.card { 
    border-radius: 16px;
    background-color: #fff;
    margin: 16px auto; /* Center the card horizontally */
    width: 100%;
    max-width: 500px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style-type: none;

}

.card a {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #302186;
    text-decoration: none;
}

.card a:hover {
    color: #4A3FC7;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 4px 16px;
}

.navbar a:hover {
    color: #666;
}

.navbar button {
    background-color: #302186;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #4A3FC7;
}

.primary-button {
    background-color: #302186;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}